
.row-content {
    margin: 0px auto;
    padding: 0px 0px;
    min-height: 400px; }

.col-aligno{
    text-align: center;
}

.btn-color{
    background-color: #497380
}

.progress-color{
   background-color: #497380
}

.jumbotron{
    background-color:  #FFFBFA ;
    padding: 100px 0px;
}

.img-fluid{
    margin: 10px auto;
    padding: 0px 0px;
    align-items: center;
   
}

.navbar{
    background-color: #F2EEED;
    padding: 0px 10px;
    
}
