.nav-link{
    color: #ffffff
}

.container-nav{
    padding: 0px 30px; 
    justify-content: start;
    margin: 0px -40px
}

.container-nav-l{
    padding: 0px 20px; 
    justify-content: start;
    margin: 0px -80px
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%40f08' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%40f08' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.container-comp{
    padding: 10px -200px; 
    margin: 60px 30px
}
.row-estrell{
    margin:5px 90px
}

.container-sect{
    padding: 5px 20px;
    margin:30px 100px
}